{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "project": "./tsconfig.eslintrc.json"
    },
    "plugins": [
      "@typescript-eslint"
    ],
    "env": {
      "browser": true,
      "node": true
    },
    "extends": [
      "standard-with-typescript"
    ]
  }
  